In [8]:
import mysql.connector  
  
con = mysql.connector.connect(host = "localhost", user="root",passwd = "root",auth_plugin='mysql_native_password')  
print(con)  
cur = con.cursor()    
try:  
    dbs = cur.execute("show databases")  
except:  
    con.rollback()  
for x in cur:  
    print(x)

<mysql.connector.connection.MySQLConnection object at 0x00000208F89FA848>
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [9]:
try:  
    #creating a new database  
    cur.execute("create database python")  
  
    dbs = cur.execute("show databases")  
      
except:  
    con.rollback()  
  
for x in cur:  
        print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('python',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [13]:
try:  
    #Reading the Employee data      
    cur.execute("select * from testdb.users")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x);  
except:  
    con.rollback()

('Pradeep', 'abc@gmail.com', 26, 2)
('Hanu', 'xyz@gmail.com', 9, 4)
('sad', 'as@gamail.com', 12, 5)

In [15]:
try:  
    #adding a column branch name to the table Employee  
    cur.execute("alter table testdb.users add agr int(20) not null")  
except:  
    con.rollback()

In [18]:
 
sql = "insert into testdb.users(usrname,email,agr) values (%s,%s,%s)"  
  
#The row values are provided in the form of tuple   
val = ("John", "avx@gmail.com", 25)  
  
try:  
    #inserting the values into the table  
    cur.execute(sql,val)  
  
    #commit the transaction   
    con.commit()  
      
except:  
    con.rollback()  
  
print(cur.rowcount,"record inserted!")

1 record inserted!

In [20]:
try:  
    #Reading the Employee data      
    cur.execute("select * from testdb.users")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x);  
except:  
    con.rollback()

('Pradeep', 'abc@gmail.com', 26, 2)
('Hanu', 'xyz@gmail.com', 9, 4)
('sad', 'as@gamail.com', 12, 5)
('John', 'avx@gmail.com', 25, 6)